[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
PyInstaller = ">=3.6"

[packages]
pip = "*"
setuptools = "*"
pyqt5 = "==5.12"

[requires]
python_version = "3.6"
